# Logs
logs
*.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env

# large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Others
/.idea
/.vscode
.cache/
tags
docs
*.swap
*.swp
*.rdb
*.db
*.csv
*.ini
*.sys
*.config
*.conf
*.cnf
*.cfg
*.cf
*.tgz


binds/data/grafana/*
binds/data/loki/*
binds/data/mimir/*
binds/data/tempo/*

!binds/data/grafana/.gitkeep
!binds/data/grafana/dashboards/
!binds/data/loki/.gitkeep
!binds/data/mimir/.gitkeep
!binds/data/tempo/.gitkeep

binds/config/*
!binds/config/*.base.yaml
!binds/config/dashboards
!binds/config/datasources
